@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

body{
    font-family: 'Inter', sans-serif;
}
a{
    color: inherit;
}
.header{
    width: 100%;
    height: 52px;
    background-color: #1E293B;
    width: 100%;
    padding: 8px 0px;
}
.container{
    max-width: 1296px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 36px;
}
.header-buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}
.header-button__reg{     
}
.header-button__reg-text{
    display: flex;
    align-items:center;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 20px;
    font-style: normal;
    font-weight: 400;
}
.header-button__reg-icon{
    color: #FFFFFF;
    font-size: 20px;
    padding: 0px 8px 0px 0px;
}
.header-button__adv{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#3B82F6;
    padding: 6px 12px;
    border-radius: 4px;
    height: 32px;
}
.header-button__adv-text{
    display: flex;
    align-items:center;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color:#FFFFFF;
    gap: 4px;
}
.header-button__adv-img{
    color:#FFFFFF;
    font-size: 5px;
}
.navbar{
    display: flex;
    height: 84px;
    padding: 24px 0px;
    max-width: 1296px;
    margin: 0 auto;
}
.navbar-line{
    border-bottom: 1px solid #E2E8F0;
}
.navbar__title{
    color: #1E293B;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    margin-right: 24px;  
}
.navbar__categories-text{
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #3B82F6;
    gap: 8px;
}
.navbar__categories{
    border: 1px solid #3B82F6;
    border-radius: 4px;
    padding: 6px 12px;
    margin-right: 13px;
}
.navbar__search-form{
    display: flex;
    align-items: center;
}
.navbar__search-input{
    height: 36px;
    width: 732px;
    border: 1px solid #CBD5E1;
    border-radius: 4px 0px 0px 4px;
    gap: 12px;
    padding: 8px 12px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #64748B;
}
.navbar__search-input:focus{
    background-color: transparent;
    outline: none;
}
.navbar__search-button{
    height: 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    background-color:#3B82F6;
    padding: 6px 12px;
    border:none;
    border-radius: 0px 4px 4px 0px;
    color:#FFFFFF;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    margin-left: -1px;
}
.adv{
    max-width: 1296px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.adv__title{
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #1E293B;
    margin:32px 0px 24px 0px;
}
.adv__card{
    display: flex;
    justify-content:space-between;
}
.adv__card-item{
    border-radius: 4px;
    flex-basis: 23.5%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding-bottom: 32px;
}
.adv__card-item-cover{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 240px;
}
.card-img{
    width: 100%;
    height: 240px;
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
}
.adv__card-info{
    padding: 8px 0px 0px 0px;
}
.adv__card-title{
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #3B82F6;
}
.adv__card-price{
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #1E293B;
}
.adv__card-adress{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #64748B;
}
.adv__card-time{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #64748B;
}
@media (max-width:1400px){
    .container{
        max-width: 1050px;
    }
    .adv{
        max-width: 1050px;
    }
    .navbar{
        max-width: 1050px;
    }
    .navbar__title{
        font-size: 24px;
        margin-right: 15px;  
    }
    .navbar__categories-text{
        font-size: 12px;
        gap: 6px;
    }
    .navbar__categories{
        padding: 6px 10px;
        margin-right: 10px;
    }
    .navbar__search-input{
        width: 575px;
        gap: 10px;
        padding: 6px 10px;
        font-size: 14px;
    }
    .navbar__search-button{
        font-size: 14px;
    }
    .adv__title{
        font-size: 22px;
    }
    .adv__card-title{
        font-size: 18px;
    }
    .adv__card-price{
        font-size: 18px;
    }
    .adv__card-adress{
        font-size: 14px; 
    }
    .adv__card-time{
        font-size: 14px;
    }
    .card-img{
        height: 220px;
    }
    .adv__card-item{
        padding-bottom: 26px;
    }
}
@media (max-width:1200px){
    .container{
        max-width: 850px;
    }
    .adv{
        max-width: 850px;
    }
    .navbar{
        max-width: 850px;
    }
    .navbar__title{
        font-size: 20px;
    }
    .navbar__categories-img{
        height: 18px;
    }
    .navbar__search-input{
        width: 415px;
    }
    .navbar__search-button{
        font-size: 13px;
    }
    .adv__card-title{
        font-size: 18px;
    }
    .adv__card-price{
        font-size: 18px;
    }
    .adv__card-adress{
        font-size: 12px;
    }
    .adv__card-time{
        font-size: 12px;
    }
    .card-img{
        height: 200px;  
    }
    .adv__card-item-cover{
        height: 200px;
    }
    .adv__card-item{
        padding-bottom: 22px;
    }
}
@media (max-width:992px){
    .container{
        max-width: 650px;
    }
    .adv{
        max-width: 650px;
    }
    .navbar{
        max-width: 650px;
    }
    .navbar__title{
        font-size: 20px;  
        margin-right: 10px;  
    }
    .navbar__categories-text{
        font-size: 10px;
        gap: 4px;
    }
    .navbar__categories{
        height: 30px;
        padding: 5px 8px;
        margin-right: 8px;
    }
    .navbar__categories-img{
        height: 18px;
    }
    .navbar__search-input{
        height: 30px;
        width: 240px;
        gap: 7px;
        padding: 5px 10px;
        font-size: 12px;
    }
    .navbar__search-button{
        height: 30px;
        font-size: 12px;
        padding: 5px 12px;
    }
    .icon-search{
        height: 18px;
    }
    .adv__title{
        
        font-size: 20px;
    }
    .adv__card-title{
        font-size: 16px;
    }
    .adv__card-price{
        font-size: 14px;
    }
    .adv__card-adress{
        font-size: 12px;
    }
    .adv__card-time{
        font-size: 12px;
    }
    .adv__card-item{
        padding-bottom: 18px;
    }
    .card-img{
        height: 160px;
    }
    .adv__card-item-cover{
        height: 160px;
    }
    .header-button__reg-text{
        font-size: 12px;
        line-height: 20px;
        font-style: normal;
        font-weight: 400;
    }
    .header-button__reg-icon{
        height: 12px;
        padding: 0px 6px 0px 0px;
    }
    .header-button__adv{
        height: 30px;
        padding: 4px 8px;
    }
    .header-button__adv-text{ 
        font-size: 12px;   
        gap: 2px;
    }
    .header-buttons{    
        gap: 18px;
    }
    .icon-search{
        height: 14px;
    } 
}
@media (max-width:769px){
}
@media (max-width:576px){
}